.page
{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
.animation
{
    background-color: #d2fff3;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
}
.tick
{
    color: white;
    font-size: 44px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #91C0EC, #88D9B4);
    animation: tick 0.7s infinite alternate;

}

.container
{
    margin-top: 40px;
    width: 80%;
    max-width: 750px;
    height: fit-content;
background: linear-gradient(to right, #EAF3FF, #EBFFF2);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContentWidth
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 530px;
    gap: 60px;text-align: center;

    
}
.iconText
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.iconBack
{
    width: max-content;
    border-radius: 50%;
padding: 20px;
}

.iconBack img
{
    width: 50px;
}
.iconText p
{
    font-size: 20px;
}
.whatNextContainer
{
    margin-top: 40px;
    width: 80%;
    max-width: 750px;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.line
{
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.line span
{
    font-size: 20px;
    word-spacing: 3px;
}
.line p
{
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 20px;
    
    font-weight: 500;
}
.anotherSpotBtn
{
    width: 350px;
    padding: 15px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background: #2563EB;
    color: white;
    cursor: pointer;
    font-weight: 500;
}
.backBtn
{
        width: 350px;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.162);
    font-weight: 500;
}
@keyframes tick {
    0%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(-30px);
    }
}