.afterNav
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.toggleContainer
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 70px;
    background-image: #0e57f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 13px;
}
.toggle1,.toggle2,.toggle3
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
}
.active
{
    background-color: #ffffff3e;
}
.pages
{
    margin-top: 20px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}