@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_opsz.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* ✅ Apply globally */
body {
  font-family: 'Inter', sans-serif;
}
